# 1.0 Install & Import Dependencies

In [1]:
#!pip install pandas --quiet
#!pip install openpyxl --quiet
#!pip install plotly-express --quiet
#!pip install xlwings --quiet

In [2]:
from pathlib import Path # Python standard library

import pandas as pd
import plotly.express as px
import xlwings as news

In [3]:
# [OPTIONAL] SETTING
import plotly.io as pio
pio.templates.default ='plotly_white'

# 1.1 Get From Excel

In [4]:
# Read excel file (facebook.xlsx) into a pandas
excel_path = Path.cwd() / "data" / "facebook.xlsx"
df = pd.read_excel(excel_path, sheet_name="facebook", skiprows=2)

In [5]:
# Check the data 
df.sample()

,Date,Gender,Service,Age,Location,Likes,Share,Comments,Engagements
78,2022-11-05,Male,Aqoonmaal,34,Laascaanod,1849,3034,3028,3525

In [6]:
# print a concise summary of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          271 non-null    datetime64[ns]
 1   Gender        271 non-null    object
 2   Service       271 non-null    object
 3   Age           271 non-null    int64
 4   Location      271 non-null    object
 5   Likes         271 non-null    int64
 6   Share         271 non-null    int64
 7   Comments      271 non-null    int64
 8   Engagements   271 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 19.2+ KB

In [7]:
#Add some columns
df['Month'] = df['Date'].dt.month
df.head(5)

,Date,Gender,Service,Age,Location,Likes,Share,Comments,Engagements,Month
0,2022-11-01,Female,Kaafiye,34,Gabiley,1200,700,200,5600,11
1,2022-11-01,Female,Waafi,43,Berbera,2500,900,250,7500,11
2,2022-11-01,Female,Internet,32,Ceerigabo,850,150,100,3300,11
3,2022-11-01,Male,Aqoonmaal,17,Gabiley,920,220,300,4500,11
4,2022-11-01,Male,Mushaax,27,Oodweyne,2820,3553,2906,1746,11

In [10]:
# Group Numeric Value by sub-category
grouped_by_location = df.groupby(by="Location").sum()[['Likes']]
grouped_by_location

C:\Users\Admin\AppData\Local\Temp\ipykernel_4108\1471864436.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_by_location = df.groupby(by="Location").sum()[['Likes']]

             Likes
Location
Berbera     109797
Borama       74487
Burco        77717
Buuhoodle    50687
Ceerigabo    56410
Gabiley      68957
Hargeisa     67295
Laascaanod   68959
Oodweyne     65223

In [11]:
grouped_by_location = df.groupby(by="Location").sum()[['Likes']].sort_values(by='Likes')
grouped_by_location

C:\Users\Admin\AppData\Local\Temp\ipykernel_4108\1741088107.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_by_location = df.groupby(by="Location").sum()[['Likes']].sort_values(by='Likes')

             Likes
Location
Buuhoodle    50687
Ceerigabo    56410
Oodweyne     65223
Hargeisa     67295
Gabiley      68957
Laascaanod   68959
Borama       74487
Burco        77717
Berbera     109797

# Plot Data

## Analysis Sub-Category

In [12]:
location_bar = px.bar(
    grouped_by_location,
    x='Likes',
    y='Location',
    color='Age',
    color_continuous_scale=['red', 'yellow', 'green'],
    title='<b>Location & Likes by Location</b>'
)
location_bar.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Likes'] but received: Location

# Likes by Services

In [10]:
df.groupby(by=['Service']).sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6652\3455477912.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by=['Service']).sum()

            Age   Likes   Share  Comments   Engagements   Month
Service
Aqoonmaal  1668  124120  138673     141451        128928    616
Internet   1672  115851   93593     108809        125493    594
Kaafiye    1597  128928  126432     114830        142951    594
Mushaax    1656  130803  124028     127670        121609    583
Waafi      1716  139830  127120     111248        117945    594

In [11]:
df.groupby(by=['Service']).sum()[['Likes']]

C:\Users\Admin\AppData\Local\Temp\ipykernel_6652\2290613399.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by=['Service']).sum()[['Likes']]

            Likes
Service
Aqoonmaal  124120
Internet   115851
Kaafiye    128928
Mushaax    130803
Waafi      139830

In [12]:
df.groupby(by=['Service']).sum()[['Likes']].sort_values(by='Likes')

C:\Users\Admin\AppData\Local\Temp\ipykernel_6652\2746607525.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by=['Service']).sum()[['Likes']].sort_values(by='Likes')

            Likes
Service
Internet   115851
Aqoonmaal  124120
Kaafiye    128928
Mushaax    130803
Waafi      139830